# Dependencies
node_modules

# Build outputs
dist/
release/
*.asar
*.asar.unpacked

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
